* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "opensans";
}

header {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(162, 161, 161) ;
    box-shadow: 0 1px 4px -2px rgba(42, 41, 41, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 10px; /* 16px */
    align-items: center;
    background-color: #EBEBE5;

}
nav {
    font-size: 1rem;
}
h1 {
    font-size: 2rem;
    font-family: "shalimar";
    font-weight: normal;
    margin-left: 1rem;
   
}
ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    margin-right: 1rem;
   
}
a {
    color: black;
    text-decoration: underline;
    font-size: 0.85rem;
}

a:hover {
    color: #877F6C;
}
/*main {
   padding-top: 18.75rem;
    display: flex;
    justify-content: center;
  
}*/
main { 
    /*margin: 5rem auto;*/
    padding: 0 1.25rem;
    /*text-align: center;*/
    padding-top: 4.2rem;
    display: flex;
    justify-content: center;
    
}
.left-col {
   width: 50%;
   margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 7.60rem;
    padding-left: 17.70rem;
    
}
.left-col>img {
    width: 16.50rem;
   height: 20.56rem;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border:1.5px solid #615949;
}

.right-col {
    width: 50%;
    display: flex;
    align-items: flex-start ;
    justify-items: left;
    padding-right: 6.25rem;
    flex-direction: column;
}

    

h2 {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 10.30rem;
    padding-bottom: 1rem;
    display: flex;
    
}
p {
    font-size: 1.56rem;
    text-align: left;
    padding-right: 6.30rem;
    padding-left: 2px;
    padding-bottom: 1.1rem;
    display: block;
    margin-top: -3rem;
}
/*button {
    font-size: 3.75rem;
    background-color: #EBEBE5;
    border: 4.25px solid grey;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 6px;
}*/
button {
    font-size: 1.56rem;
    background-color: #EBEBE5;
    border: 1px solid grey;
    padding: 2px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    /*padding-left: 0.5rem;
    padding-right: 0.5rem;*/
    display: flex;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 2px;
    width: 9rem;
    margin-top: -4rem;
    justify-content: center;
}
.right-col>a {
    text-decoration: none;
}
button:hover {
    background-color: #877F6C;
}
@media (max-width: 768px) {
    main {
      flex-direction: column;
      padding-top: 1rem;
    }
    header {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
  
    .left-col, .right-col {
      width: 100%;
      padding: 1rem;
    }
  
    .left-col {
      padding-left: 1rem;
    }
  
    p, nav {
      font-size: 1rem;
    }
    h1, h2 {
        font-size: 1.5rem;
    }
  
    .left-col > img {
      width: 100%;
      height: auto;
    }
    a {
        font-size: 0.75rem;
        
    }
    nav ul {
        gap: 0.75rem;
        margin: 1rem 0 0 1rem;
    }
    button {
        font-size: 1rem;
        width: 7rem;
    }
    p {
        align-items: flex-start;
        margin-top: -4rem;
        padding: 0%;
    }
    h2 {
        margin-top: -10rem;
        font-size: 2rem;
    }
     .right-col {
        padding: 0%;
        padding-left: .99rem;
        
    }

  }
